/* pc */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
/* tablet & mobile */
@media (max-width: 991.98px) {
  .navbar {
    display: none;
  }
  /*  chuyen logo vao giua */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* can lai vi tri menu icon */
  .menu-header__icon {
    position: absolute;
    top: 32px;
    left: 24px;
    color: #fff;
    width: 40px;
  }
  /* overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* o dieu kien binh thuong an lop phu di */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* ktra menu checkbox co duoc check hay khong */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* code cho menu drawer */
  .menu-drawer {
    position: fixed;
    background: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    /* di chuyen menu drawer ra ngoài màn hình */
    transition: 0.5s;
    padding: 60px;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
    /* khi bấm vào menu icon thì
     menu drawer sẽ hiện lên màn hình */
  }
  /* menu top */
  .close__menu {
    width: 48px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__item a,
  #navbar__list--mobile a {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    color: #fff;
    font-size: 2rem;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* khoi hero */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }
  .hero__media {
    order: 1;
  }
  .hero__content {
    order: 2;
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }
  .hero__row {
    justify-content: center;
  }
  /* khoi service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .service__img {
    width: 100%; /* Full chiều ngang khung cha */
    height: auto; /* Giữ tỉ lệ ảnh */
    max-width: 100%; /* Không bị vượt khung */
  }
  .service-item {
    width: 90%;
    text-align: start;
  }
  .service__list {
    text-align: center;
  }
  /* khoi about */
  .about__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__img--small {
    display: none;
  }
  .about__media {
    width: 100%;
  }
  .about__img--large {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }
  .about__content {
    width: 90%;
    text-align: center;
  }
  /* khoi team list*/
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .team-item__thumb {
    margin: 0 auto;
  }
  /* khoi install */
  .install__img {
    display: none;
  }
  .install__content {
    width: 100%;
    margin: 0 auto;
  }
  .install__heading {
    margin: 0;
  }
  /* khoi dental */
  .dental__care {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .dental__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-heading {
    max-width: 100%;
    margin: 0 auto;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .show-on-mobile {
    display: none;
  }
}
/* mobile */
@media (max-width: 767.98px) {
  .header__action {
    display: none;
  }
  .menu-header__icon {
    top: 10px;
  }
  .menu-drawer {
    padding: 40px;
    inset: 0 20% 0 0;
  }
  .navbar__item {
    list-style-type: none;
  }
  .separate {
    border-top: 1.5px solid #8c8b8b;
  }
  .hero__img--small {
    display: none;
  }
  .hero__img--large {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__desc {
    font-size: 1.4rem;
  }
  .hero__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .hero__phone {
    margin-left: 0;
  }
  /* khoi service */
  .service {
    padding: 70px 0;
  }
  .section-desc {
    width: 84%;
  }
  .service__img {
    height: 470px;
  }
  /* work */
  .work__desc {
    width: 100%;
  }
  .work-list {
    grid-template-columns: 1fr;
  }
  .work-item {
    padding: 20px;
  }
  /* about */
  .about {
    padding: 40px 0;
    margin-top: 20px;
  }
  .section-heading {
    font-size: 3rem;
  }
  .section-desc {
    margin: 0 auto;
    width: 100%;
  }
  /* team */
  .team__list {
    grid-template-columns: 1fr;
  }
  /* install */
  .install__inner {
    padding: 40px 0;
  }

  .install__row {
    justify-content: center;
  }
  .install__desc {
    padding: 0 17px;
    font-size: 1.5rem;
  }
  /* dental */
  .dental__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  /* appoint */
  .appointment__inner {
    padding: 30px 5px;
  }
  /* footer */
  .footer {
    padding-top: 40px;
  }
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .footer__copyright--desc {
    margin-top: 20px;
  }
}
